.footer {
    background-color: rgb(46, 46, 46);
    padding: 3rem 0;
    margin-top: 4rem;
}

@media (min-width: 768px) {
   .contenido {
       display: flex;
       justify-content: space-between;
   }
}

.navegacion {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 768px) {
   .navegacion {
       flex-direction: row;
       gap: 3rem;
   }
}

.navegacion a:hover {
    color: var(--primary);
}

.parrafo {
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}