.divPrincipal {
    background-color: rgb(46, 46, 46);
    margin-bottom: -4rem;
}

.title {
    margin-top: 0;
    color: var(--primary);
    font-size: 5rem;
    text-align: center;
}

.principal {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .principal {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 0;
        margin-left: 3rem;
    }
 }
 
 @media (min-width: 992px) {
     .principal {
         grid-template-columns: repeat(3, 1fr);
         gap: 7rem;
         margin: 0;
         margin-left: 5rem;
     }
  }

  @media (min-width: 375px) {
     .principal {
         margin-left: 1.8rem;
     }
  }

  @media (min-width: 411px) {
     .principal {
         margin-left: 3.5rem;
     }
  }

.skills {
    width: 34rem;
    padding: 4rem;
    box-shadow: -1px 2px 13px -1px rgba(255, 255, 255, 0.59);
    border-radius: 2rem;
    transition-duration: .5s;
}

@media (min-width: 1600px) {
   .skills {
       margin-left: 5rem;
   }
}

.skills:hover {
    width: 35rem;
    padding: 3.5rem;
    /* margin-left: 1rem; */
}

.skills h2 {
    text-align: center;
}